First_Name,Last_Name,UniqueID,Entitlement,Email
serviceAccount:service-PROJECT_NUM,serviceAccount:service-PROJECT_NUM,serviceAccount:service-PROJECT_NUM@compute-system.iam.gserviceaccount.com,roles/compute.serviceAgent -> Project (PROJECT_ID),serviceAccount:service-PROJECT_NUM@compute-system.iam.gserviceaccount.com
serviceAccount:PROJECT_NUM-compute,serviceAccount:PROJECT_NUM-compute,serviceAccount:PROJECT_NUM-compute@developer.gserviceaccount.com,roles/editor -> Project (PROJECT_ID),serviceAccount:PROJECT_NUM-compute@developer.gserviceaccount.com
serviceAccount:PROJECT_NUM,serviceAccount:PROJECT_NUM,serviceAccount:PROJECT_NUM@cloudservices.gserviceaccount.com,roles/editor -> Project (PROJECT_ID),serviceAccount:PROJECT_NUM@cloudservices.gserviceaccount.com
serviceAccount:ci-account,serviceAccount:ci-account,serviceAccount:ci-account@PROJECT_ID.iam.gserviceaccount.com,roles/owner -> Project (PROJECT_ID),serviceAccount:ci-account@PROJECT_ID.iam.gserviceaccount.com
serviceAccount:tf-testing,serviceAccount:tf-testing,serviceAccount:tf-testing@PROJECT_ID.iam.gserviceaccount.com,roles/owner -> Project (PROJECT_ID);roles/resourcemanager.projectCreator -> Folder (FOLDER_ID),serviceAccount:tf-testing@PROJECT_ID.iam.gserviceaccount.com
user:user1,user:user1,user:user1@DOMAIN_NAME,roles/resourcemanager.folderAdmin -> Folder (FOLDER_ID);roles/resourcemanager.folderEditor -> Folder (FOLDER_ID),user:user1@DOMAIN_NAME
deleted:serviceAccount:tf-testing,deleted:serviceAccount:tf-testing,deleted:serviceAccount:tf-testing@PROJECT_ID.iam.gserviceaccount.com?uid=SA_ID,roles/resourcemanager.projectCreator -> Folder (FOLDER_ID),deleted:serviceAccount:tf-testing@PROJECT_ID.iam.gserviceaccount.com?uid=SA_ID
serviceAccount:service-PROJECT_NUM,serviceAccount:service-PROJECT_NUM,serviceAccount:service-PROJECT_NUM@gcp-sa-pubsub.iam.gserviceaccount.com,roles/pubsub.publisher -> Topic (my-topic),serviceAccount:service-PROJECT_NUM@gcp-sa-pubsub.iam.gserviceaccount.com
user:user2,user:user2,user:user2@DOMAIN_NAME,roles/iam.serviceAccountTokenCreator -> ServiceAccount (user2-sa@PROJECT_ID.iam.gserviceaccount.com),user:user2@DOMAIN_NAME
